.inputSearch {
  background: transparent;
  width: 600px;
  height: 50px;
  font-size: 30px;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  color: white;
  font-weight: 500;
  position: relative;
}

.inputSearch:focus {
  outline: none;
}

.search {
  position: relative;
}

.search .iconSearch{
  position: absolute;
  top: 2rem;
  right: 3rem;
}

.cards {
  display: flex;
}

.cards a{
  text-decoration: none;
  color: white;
}
.card {
  margin-top: 4rem;
  margin-right: 1rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: .3em;
  padding: 1rem;
  display: block;
  cursor: pointer;
  height: 300px;
  width: 300px;
}

.img_artist {
  min-width: 200px;
  width: 200px;
}

.nameArtist {
  margin-bottom: 0;
}