.detailArtist {
  background: linear-gradient(to left bottom, white, #498172 80%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  background: white;
  padding: 2.5rem;
}


.photoDetail {
  text-align: center;
}

.detail {
  padding: 1rem;
}

.photo {
  /* border-radius: .3rem; */
  width: 300px;
  margin-top: 1rem;
}


.detail h1 {
  /* text-align: center; */
  color: #707070;
  margin-top: 0;
}

.detail ul {
  list-style: none;
  color: #707070;
  padding-left: 0;
}

.detail ul li {
  margin-bottom: 1rem;
  color: #707070;
}

.container {
  position: relative;
}

.container button {
  border:none;
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.container .arrow {
  color: #707070;
  position: absolute;
  top: 10px;
  left: 1rem;
  cursor: pointer;
}